<div class="tab-pane active my-4" id="currentWar" role="tabpanel" aria-labelledby="current-war-tab">
  <div class="container-fluid">
    <div class="row justify-content-center">
      {{#each currentRiverRace.clans}}
        {{> _riverRace clan=this base="currentRiverRace" startTime="" rank="" trophyChange="" clanBadgeJson=../clanBadgeJson}}
      {{/each}}
    </div>
  </div>
</div>