<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <!--This div contains the styling for displaying the brand stuff-->
    <div style="height: 55px;">
      <a class="text-decoration-none d-flex mr-2" href="/" style="font-size: 1.25rem; color: white;">
        <!--Logo was made with the help of my brother-->
        <!--Mess around with it at: https://www.khanacademy.org/computer-programming/spin-off-of-better-logo/6139811198353408-->
        <img src="/images/logo.svg" class="mr-1" width="55px" height="55px">
        <h4 class="d-inline-block align-middle" style="line-height: 55px;">CLASHALYTICS</h4>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown"
      aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <!--The span creates the three lines-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/players">
            PLAYERS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clans">
            CLANS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboards">
            LEADERBOARDS
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarMoreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MORE
          </a>
          <div class="dropdown-menu bg-dark border-dark" aria-labelledby="navbarMoreDropdown">
            <a class="dropdown-item dropdown-item-dark" href="/cards" style="color: rgba(255, 255, 255, 0.5)">CARDS</a>
            <a class="dropdown-item dropdown-item-dark" href="/guides" style="color: rgba(255, 255, 255, 0.5)">GUIDES</a>
            <a class="dropdown-item dropdown-item-dark" href="/tournaments" style="color: rgba(255, 255, 255, 0.5)">TOURNAMENTS</a>
            <a class="dropdown-item dropdown-item-dark" href="/emotes" style="color: rgba(255, 255, 255, 0.5)">EMOTES</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>