<nav aria-label="breadcrumb" class="justify-content-between d-flex mb-3" style="background-color: #e9ecef; height: 48px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item"><a href="/players" style="text-decoration: none;">Players</a></li>
    <li class="breadcrumb-item"><a href="/players/{{removeFirstCharacter tag}}" style="text-decoration: none;">{{tag}}</a></li>
    <li class="breadcrumb-item active" aria-current="page" id="breadcrumb_tag">{{page}}</li>
  </ol>
  <a href="/players/{{removeFirstCharacter tag}}/data" class="text-decoration-none text-right mx-3 align-middle d-none d-lg-block" style="line-height: 48px;">RAW DATA</a>
</nav>