<title>About</title>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>

<h1 class="mx-3">About</h1>
<p class="mx-3 mb-5">
  This is a website that I build to get a better understanding of website developement and the Clash Royale API.
  There are various sections of the website (like players and clans) that can be used to get valuable information.
  The tracking feature, which I implemented using MongoDB, is also very useful.
  Please keep in mind that this is a work in progress as this was made by just me and I am no coding expert.
</p>