<title>Clan {{clanStats.tag}} | Description</title>

<!--This script initializes the Bootstrap tooltips on the page-->
<script defer src="/js/bootstrapTooltips.js"></script>

{{> _breadcrumbPath path=path rawData=(concat "/clans/" (removeFirstCharacter clanStats.tag) "/data")}}

{{> _clanInfoTabs active="description" tag=clanStats.tag}}

<div class="tab-content">
  {{>_clanInfoDescription clanStats=clanStats}}
</div>