<!--This script is for Apex Charts, a framework I used to draw the charts-->
<script defer src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!--This script is for the JS code I used to create the charts-->
<script defer src="/js/clanWarInsights.js"></script>

{{> _clanInfoTabs active="war" tag=tag}}

<hr class="my-0" style="background-color: black; height: 3px; width: 100%;">

{{> _clanInfoWarTabs active="warInsights" tag=tag}}

<div class="tab-content">
  {{> _clanInfoWarInsights tag=tag riverRaceLog=riverRaceLog}}
</div>

<script>
  // Shows the war insights tab
  $("#warInsights").show();
</script>