<!--This script initializes the Bootstrap tooltips on the page-->
<script defer src="/js/bootstrapTooltips.js"></script>
<!--This script enables the hover functionality on the member cards-->
<script defer src="/js/hoverCard.js"></script>
<!--This script contains the general JS needed to run the page-->
<script defer src="/js/clanInfoMembers.js"></script>
<!--The next three links are for DataTables, a JQuery plug-in-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
<script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<!--The next two lines are for a plugin that converts checkboxes into toggles-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
<script defer src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<!--This script adds keyboard functionality to the 'Change Viewable Data' modal-->
<script defer src="/js/keyboardToggle.js"></script>

{{>_clanInfoTabs active="members" tag=clanStats.tag}}

<div class="tab-content">
  {{>_clanInfoMembers clanStats=clanStats}}
</div>

<script>
  // Quick script to display the members tab
  $(document).ready(function() {
    $("#members").tab("show");
  });
</script>