<h1 class="mx-3 mt-2">Disclaimers</h1>
<ul class="mx-3 mb-5">
  <li style="">
    This material is unofficial and is not endorsed by Supercell. For more information, see
    <a style="text-decoration: none;" href="https://www.supercell.com/fan-content-policy">Supercell's Fan Content
      Policy</a>
  </li>
  <li>
    This website has the MIT license. This means that I disclaim all liability and any warranty, whether expressed or implied.
  </li>
  <li>
    I don't own everything on the website (like Supercell Assets, other peoples' pictures, etc). 
    Please respect their rights if you choose to reuse my website.
  </li>
</ul>