<h1 id="emoteTitle" class=" mt-1 text-center mb-0">{{emoteId}}</h1>

<p id="emoteId" class="d-none">{{emoteId}}</p>

<div id="emoteDisplayDiv" class="row justify-content-center mx-0 my-3 d-none">
  <iframe id="emoteDisplay" class="bg-dark" id="emote_iframe"></iframe>
</div>

<div id="emoteNotFoundAlert" class="alert alert-warning mx-4 text-center d-none mt-2">
  This emote could not be found!
</div>

<img id="cryingKing" src="/images/emotes/Crying King.png" alt="Crying King Emote" style="width: 90%; max-width: 600px; display: block; margin-left: auto; margin-right: auto" class="mb-4 d-none">

<script>
  // Checks if the emote exists
  let emoteId = parseInt($("#emoteId").text());
  fetch("/json/emotes.json")
    .then((res) => res.json())
    .then((json) => {
      for (let i = 0; i < json.length; i++) {
        if (json[i].id === emoteId) {
          document.getElementById("emoteDisplay").src = `/videos/emotes/${emoteId}.mp4`;
          $("#emoteDisplayDiv").removeClass("d-none");
          $("#emoteTitle").text(json[i].name);
          document.title = `Emote #${emoteId} | ${json[i].name}`;
        }
      }
      if ($("#emoteDisplayDiv").hasClass("d-none")) {
        $("#emoteNotFoundAlert").removeClass("d-none");
        $("#cryingKing").removeClass("d-none");
      }
    })
    .catch((err) => {
      $("#emoteNotFoundAlert").removeClass("d-none");
      $("#cryingKing").removeClass("d-none");
    });
</script>