<h1 class="mx-3 mt-2">Help</h1>
<ul class="mx-3 mb-5">
  <li style="">
    To see the FAQ, go nowhere. I don't have one. =)
  </li>
  <li>
    If you have a comment or suggestion, please wait until I have made a form
  </li>
</ul>