<title>Help</title>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Help</li>
  </ol>
</nav>

<h1 class="mx-3">Help</h1>
<ul class="mx-3 mb-5">
  <li style="">
    To see the FAQ, go nowhere. I don't have one. =)
  </li>
  <li>
    If you have a comment or suggestion, use this form
  </li>
</ul>