<div class="container-fluid px-2">
  <div class="jumbotron" style="background-color: lavenderblush;">
    <h1 class="display-4">Welcome to Clashalytics</h1>
    <p class="lead">Clashalytics is the premier website for all things Clash Royale (at least when I finish it)</p>
    <hr class="my-4">
    <p>Start exploring today!</p>
    <a class="btn btn-primary btn-lg mr-3 my-3" href="/players" role="button">Search Players</a>
    <a class="btn btn-primary btn-lg mr-3 my-3" href="/clans" role="button">Search Clans</a>
    <a class="btn btn-primary btn-lg mr-3 my-3" href="/about" role="button">Learn more about this website</a>
  </div>
</div>