<title>Home</title>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<!--<div class="card" style="width: 18em; margin: 10px;">
  <img src="https://www.backpacker.com/.image/t_share/MTU2Mzk0NDU5ODQ2NjgxOTAz/23158166954_7643010070_k.jpg"
    class="card-img-top" alt="dog">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>-->
<div class="container-fluid px-2">
  <div class="jumbotron" style="background-color: lavenderblush;">
    <h1 class="display-4">Welcome to Clashalytics</h1>
    <p class="lead">Clashalytics is the premier website for all things Clash Royale (at least when I finish it)</p>
    <hr class="my-4">
    <p>Start exploring today!</p>
    <a class="btn btn-primary btn-lg mr-3 my-3" href="/players" role="button">Search Players</a>
    <a class="btn btn-primary btn-lg mr-3 my-3" href="/clans" role="button">Search Clans</a>
    <a class="btn btn-primary btn-lg mr-3 my-3" href="/about" role="button">Learn more about this website</a>
  </div>
</div>

<script>

</script>