<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="card" style="width: 18em; margin: 10px;">
  <img src="https://www.backpacker.com/.image/t_share/MTU2Mzk0NDU5ODQ2NjgxOTAz/23158166954_7643010070_k.jpg"
    class="card-img-top" alt="dog">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>