<title>Player {{tag}} | Chests</title>

{{> _breadcrumbPath path=path rawData=(concat "/players/" (removeFirstCharacter tag) "/data")}}

{{>_playerInfoTabs active="chests" tag=tag}}

<div class="tab-content mx-2">
  {{>_playerInfoChests playerChests=playerChests}}
</div>

<script>
  // Displays the chests tab
  $("#chests").show();
</script>