<title>Player {{tag}} | Analysis</title>

<!--This is the JS that controls the styling and sorting of the table in the analysis tab-->
<script defer src="/js/playerInfoAnalysis.js"></script>

{{> _breadcrumbPath path=path rawData=(concat "/players/" (removeFirstCharacter tag) "/data")}}

{{>_playerInfoTabs active="analysis" tag=tag}}

<div class="tab-content mx-2">
  {{>_playerInfoAnalysis isTracked=isTracked trackedBattles=trackedBattles gameModeJson=gameModeJson cardJson=cardJson}}
</div>

<script>
  // Display the analysis tab
  $("#analysis").show();
</script>
