<title>Player Stats | {{playerStats.tag}}</title>

<!--This script is for initializing Bootstrap tooltips-->
<script defer src="/js/bootstrapTooltips.js"></script>
<!--This script is for the JS required to format the general tab-->
<script defer src="/js/playerInfoGeneral.js"></script>
<!--This script is for the JS required to format and sort the battles tab-->
<script defer src="/js/playerInfoBattles.js"></script>
<!--This file is for the JS that controls the sorting in the cards tab-->
<script defer src="/js/playerInfoCards.js"></script>
<!--This is the JS that controls the styling and sorting of the table in the analysis tab-->
<script defer src="/js/playerInfoAnalysis.js"></script>

{{> _breadcrumbPath path=path rawData=(concat "/players/" (removeFirstCharacter playerStats.tag) "/data")}}

<!-- Tabs -->
<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
      aria-selected="true">GENERAL</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="battles-tab" data-toggle="tab" href="#battles" role="tab" aria-controls="battles"
      aria-selected="false">BATTLES</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="cards-tab" data-toggle="tab" href="#cards" role="tab" aria-controls="cards"
      aria-selected="false">CARDS</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="chests-tab" data-toggle="tab" href="#chests" role="tab" aria-controls="chests"
      aria-selected="false">CHESTS</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis"
      aria-selected="false">ANALYSIS</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mx-2">
  <!--This is for the general tab-->
  {{>_playerInfoGeneral playerStats=playerStats}}

  <!--This is for the battles tab-->
  {{>_playerInfoBattles playerBattles=playerBattles gameModeJson=gameModeJson cardJson=cardJson}}

  <!--This is for the cards tab-->
  {{>_playerInfoCards playerStats=playerStats}}

  <!--This is for the chests tab-->
  {{>_playerInfoChests playerChests=playerChests}}

  <!--This is for the analysis tab-->
  {{>_playerInfoAnalysis isTracked=isTracked trackedBattles=trackedBattles gameModeJson=gameModeJson cardJson=cardJson}}
</div>