<!--This script is for initializing Bootstrap tooltips-->
<script defer src="/js/bootstrapTooltips.js"></script>
<!--This script is for the JS required to format and sort the battles tab-->
<script defer src="/js/playerInfoBattles.js"></script>

{{>_playerInfoTabs active="battles" tag=tag}}

<div class="tab-content mx-0 mx-md-2 mx-lg-3">
  {{>_playerInfoBattles playerBattles=playerBattles gameModeJson=gameModeJson cardJson=cardJson}}
</div>

<script>
  // Displays the battles tab
  $("#battles").tab("show");
</script>