<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Players</li>
  </ol>
</nav>

{{#each errors}}
  <div class="alert alert-danger mx-4">{{text}}</div>
{{else}}

{{/each}}

<form class="form-inline my-2" action="/players" method="POST">
  <input class="form-control mx-2" type="text" name="tag" placeholder="Search" aria-label="Search" required>
  <button class="btn btn-primary my-2 mr-2" type="submit">Search</button>
</form>