<title>Privacy Policy</title>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
  </ol>
</nav>

<h1 class="mx-3">Privacy Policy</h1>
<p class="mx-3 mb-5">
  I collect data to do stuff (like serving the website). Idk how to make cookies with nodejs but assume that I use those as well.
  You have GDPR rights if you live in the EU (I think). I don't know what those rights are.
  I may or may not use advertising, but if I do, consider all your data forfeit.
</p>

<small class="mx-3 mb-5 font-italic">
  For legal purposes, I am required to state that this privacy policy is a joke.
  Please do not take it seriously.
</small>