<title>Terms of Service</title>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Terms of Service</li>
  </ol>
</nav>

<h1 class="mx-3">Terms of Service</h1>
<p class="mx-3 mb-5">
  By using this website, you agree to stuff.
</p>