<title>Tournament | {{tournamentStats.name}}</title>

{{> _breadcrumbPath path=path rawData=(concat "/tournaments/" (removeFirstCharacter tournamentStats.tag) "/data")}}

<div class="container-xl bg-light">
  asdf
</div>

<p>{{tournamentStats.description}}</p>